<form ng-controller="pathController">
    <fieldset>
        <legend>Search Path</legend>


        <div class="row">
            <div class="form-group col-md-3">
                <label for="Host.Name">Host.Name</label>
                <input type="text" ng-model="path.Host.Name" class="form-control" />
            </div>
            
            <div class="form-group col-md-3">
                <label for="Host.Domain">Host.Domain</label>
                <input type="text" ng-model="path.Host.Domain" class="form-control" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="form-group col-md-3">
                <label for="Environment">Environment</label>
                <select ng-model="path.Environment" ng-options="env for env in envs" class="form-control"></select>
            </div>
            
            <div class="form-group col-md-3">
                <div class="radio">
                    <label>
                        <input type="radio" value="svc" ng-model="path.Role" />
                        Windows Services
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="web" ng-model="path.Role" />
                        Web Applications
                    </label>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="form-group col-md-6">
                <label for="Path">Path</label>
                <input type="text" ng-model="path.Path" class="form-control" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="form-group col-md-6">
                <label for="Share">Share</label>
                <p>
                <small class="info">
                    <i class="fa fa-info"></i>
                    The user: <em>@WindowsIdentity.GetCurrent().Name</em> must have read access to this share in order for the discovery bot to be effective.
                </small>
                </p>
                <input type="text" ng-model="path.Share" class="form-control" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <p>
                <button ng-click="update(path)">Save</button>
            </p>
        </div>
    </fieldset>
</form>

<div>
    <a href="./index.html#/paths">Back to path list</a>
</div>